:root {
  --bg: #fff;
  --muted: #6b6b6b;
  --card: #fafafa;
  --accent: #111;
  --radius: 10px;
  --border-soft: #eee;
  --border-softer: #e6e6e6;
  --border-muted: #ddd;
  --button-bg: #fff;
  --button-primary-bg: #111;
  --button-primary-text: #fff;

  font-family: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--accent);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appHeader {
  border-bottom: 1px solid var(--border-soft);
  background: transparent;
}

.container {
  position: relative;
  max-width: 2200px;
  margin: 0 auto;
  padding: 28px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  gap: 300px;
  height: 100%;
  margin: 0 auto;
}

.title {
  flex: 1;
  font-weight: 700;
  margin: 0;
  font-size: 20px;
  text-align: left !important;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.select {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid var(--border-softer);
  background: var(--button-bg);
  font-family: inherit;
}

.btn {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--border-muted);
  background: var(--button-bg);
  cursor: pointer;
  font-family: inherit;
}

.btnPrimary {
  background: var(--button-primary-bg);
  color: var(--button-primary-text);
  border-color: transparent;
}

.left {
  z-index: 20;
  display: flex;
  align-items: center;
}

.right {
  z-index: 20;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  
  width: 1000px; 
  height: auto; 
  max-height: 100%;
  
  object-fit: contain;
  cursor: pointer;
  z-index: 10; 
  /* filter: invert(1); */
}