.reviewsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 420px);
  gap: 30px;
  padding: 24px;
  padding-left: 20%;
  justify-content: center;
}

.cardWrapper {
  position: relative;
  opacity: 0;
  animation: slideUp 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  height: 100%;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    top: 30px; 
  }
  100% {
    opacity: 1;
    top: 0;
  }
}